// .card {
//   background: white;
//   padding: 20px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.3);
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   margin: 10px;
// }
.card {
  position: relative;
  color: white;
  height: 250px;
  max-height: 300px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 5px;
}
.card-category {
  position: absolute;
  text-transform: uppercase;
  top: 10px;
  left: 10px;
  font-size: 13px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
.avatar-bordered {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-description h2, p {
  margin: 0;
}
.card-description p {
  margin-top: 3px;
  font-weight: lighter;
}
.card-a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.card-a:hover {
  background: black;
  opacity: .1;
}
